body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

input[type="number"],
input[type="text"],
button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="number"]:focus,
input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button[type="submit"] {
  margin-top: 10px;
}

button[type="button"] {
  background-color: #ff4d4d;
}

button[type="button"]:hover {
  background-color: #e60000;
}


li {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  list-style-type: none;
  margin-left: -40px;
};
